<div class="container container-fluid">
  <div class="text-center">
    <!-- <marquee behavior="" direction="left"> -->
    <h1 class="badge badge-dark badge-pill ">
      Welcome to my Anuglar Application
    </h1>
    <!-- </marquee> -->
  </div>
  <div class="row">
    <p-menubar
      [model]="items"
      class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1"
    >
      <div>
        <input type="text" pInputText placeholder="Search" />
        <button
          pButton
          label="LogIn"
          icon="fa fa-sign-in"
          style="margin-left:.25em"
          *ngIf="!authService.isLoggedIn()"
          (click)="redirectToLogin()"
        ></button>
        <button
          pButton
          label="Logout"
          icon="fa fa-sign-out"
          style="margin-left:.25em"
          (click)="authService.logout()"
          *ngIf="authService.isLoggedIn()"
        ></button>
      </div>
    </p-menubar>
  </div>

  <div class="row">
    <div class="container-fluid">
      <div style=" height: 600px"><router-outlet></router-outlet></div>
    </div>
  </div>
</div>
