<p>prime-test works!</p>
<h3 class="first">Basic</h3>
<input id="input" type="text" size="30" pInputText [(ngModel)]="text" />
<span id="text">{{ text }}</span>

<h3>Float Label</h3>
<span class="ui-float-label">
  <input id="float-input" type="text" size="30" pInputText />
  <label for="float-input">Username</label>
</span>

<h3>Disabled</h3>
<input
  id="disabled-input"
  type="text"
  size="30"
  pInputText
  [disabled]="disabled"
/>

<button
  id="disabled-btn"
  type="button"
  (click)="toggleDisabled()"
  pButton
  label="Toggle"
></button>
