<p>
  aboutus works!
</p>
<div class="card border-primary">
  <div class="card-header badge-primary">
    Page Header
    <button class="badge badge-danger badge-pill float-right">Close</button>
  </div>
  <div class="card-body">
    <div class="bg-light" style="border-color: blue">
      <form>
        <!--Textbox Example-->
        <div class="row">
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 1 :</label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-input" id="input1" placeholder="Type Something...">
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 2 :</label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-input" id="input2" placeholder="Type Something...">
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 3 :</label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-input" id="input3" placeholder="Type Something...">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 1 :</label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-input" id="input1" placeholder="Type Something...">
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 2 :</label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-input" id="input2" placeholder="Type Something...">
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 3 :</label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-input" id="input3" placeholder="Type Something...">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 1 :</label>
              <div class="col-sm-6">
                <select class="form-control form-control-ddl" id="exampleFormControlSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>


                </select>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 2 :</label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-input" id="input2" placeholder="Type Something...">
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Input 3 :</label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-input" id="input3" placeholder="Type Something...">
              </div>
            </div>
          </div>
        </div>
        <!--Textbox Example End-->

        <!-- <div class="card-footer">
        Footer
      </div> -->

      </form>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-6 text-left">
        <button class="btn btn-default btn-sm btn-space badge-pill">Back</button> </div>
      <div class="col-6 text-right">
        <button class="btn btn-primary btn-sm btn-space badge-pill">Save</button>
        <button class="btn btn-danger btn-sm btn-space badge-pill">Cancel</button>
      </div>
    </div>


  </div>
</div>
