<form [formGroup]="form" (ngSubmit)="login()">
  <div *ngIf="form.errors" class="alert alert-danger">
    Invalid Username/Passord
  </div>

  <div class="form-group">
    <label for="username">User Name</label>
    <input
      type="text"
      id="username"
      class="form-control"
      value=""
      formControlName="username"
    />
    <div *ngIf="username.pending">Checking for uniquness..</div>
    <div
      class="alert alert-danger"
      *ngIf="username.touched && username.invalid"
    >
      <div *ngIf="username.errors.required">User name is required</div>
      <div *ngIf="username.errors.minlength">
        Minimum length at least {{ username.errors.minlength.requiredLength }}
      </div>
      <div *ngIf="username.errors.cannotContainSpace">
        Username can not contain space
      </div>
      <div *ngIf="username.errors.shouldBeUnique">Username already taken.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="text"
      id="password"
      value=""
      class="form-control"
      formControlName="password"
    />
    <div
      *ngIf="password.invalid && password.touched"
      class="alert alert-danger"
    >
      Password is required.
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
