<div class="card">
  <div class="card-header badge-primary">
    Header
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Title</h5> -->
    <!--Template 4x4 start-->
    <div class="row">
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Name :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input1" placeholder="Type Something...">

          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 2 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input2" placeholder="Type Something...">
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 3 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input3" placeholder="Type Something...">
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 4 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input4" placeholder="Type Something...">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 1 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input1" placeholder="Type Something...">

          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 2 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input2" placeholder="Type Something...">
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 3 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input3" placeholder="Type Something...">
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 4 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input4" placeholder="Type Something...">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 1 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input1" placeholder="Type Something...">

          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 2 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input2" placeholder="Type Something...">
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 3 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input3" placeholder="Type Something...">
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 4 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input4" placeholder="Type Something...">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 1 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input1" placeholder="Type Something...">

          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 2 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input2" placeholder="Type Something...">
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 3 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input3" placeholder="Type Something...">
          </div>
        </div>
      </div>
      <div class="col-md col-sm">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Input 4 :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-input" id="input4" placeholder="Type Something...">
          </div>
        </div>
      </div>
    </div>
    <!--Template 4x4 end-->
  </div>
  <!-- <div class="card-footer">
      Footer
    </div> -->
</div>
