<p>
  contactus works!
</p>
<div class="card border-primary">
  <div class="card-header badge-primary">
    Page Header
    <button class="badge badge-danger badge-pill float-right">Close</button>
  </div>
  <div class="card-body">
    <div class="bg-light" style="border-color: blue">
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
      <div class="row">
        <div class="col-4">col-1</div>
        <div class="col-4">col-2</div>
        <div class="col-4">col-3</div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-6 text-left">
        <button class="btn btn-default btn-sm btn-space badge-pill">Back</button> </div>
      <div class="col-6 text-right">
        <button class="btn btn-primary btn-sm btn-space badge-pill">Save</button>
        <button class="btn btn-danger btn-sm btn-space badge-pill">Cancel</button>
      </div>
    </div>


  </div>
</div>
